@media screen and (max-width: 1540px) {

    .projet-img{
        width: 23%;
    }
}

@media screen and (max-width: 980px){

    .nav-bar h5{
        font-size: 2rem;
    }

    header{
        height: 80px;
    }

    .nav-right{
        display: none;
    }

    .nav-left{
        text-align: center;
        width: 100%;
    }

    .accueil figure{
        display: none;
    }

    .accueil{
        height: 550px;
    }

    .presentation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .experiences-gauche{
        width: 100%;
        justify-content: center;
        margin-bottom: 40px;
    }

    .experiences-droite{
        width: 80%;
    }

    .experiences{
        display: flex;
        flex-direction: column;
    }

    .projet{
        flex-direction: column;
    }

    .projet-img{
        width: 50%;
        height: 570px;
    }

    .projet-img img{
        width: 490px;
        height: auto;
    }

    @media (max-width: 768px) {

        .intro{
            flex-direction: column;
            gap: 20px;
        }

        .projet-img{
            width: 64%;
        }
        
    }

    @media screen and (max-width: 450px){

        .accueil{
            justify-content: center;
            height: 62vh;
        }

        .accueil h4{
            text-align: center;
        }

        .intro{
            gap: -50px;
        }

        .portfolio-photos{
            margin-top: 5px;
        }

        .intro img{
            width: 390px;
            height: auto;
        }

        .projets{
            margin-bottom: 40px;
        }

        .profil img{
            width: 55px;
            height: auto;
            margin: 0;
        }

        .projet-img{
            width: 90%;
            height: 500px;
        }

        .projet-img img{
            width: 100%;
            height: auto;
        }

        footer{
            height: 130px;
        }

    }
    

}
