/*Propriété CSS Page*/
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: rgb(247, 241, 230);
}

:root {
    --main-font: 'Roboto', sans-serif;
    
    --black-color: rgb(37, 36, 34);
    --secondary-color: #b29d75;
    --bg-body: rgb(247, 241, 230);
    --secondary-bg-body: rgb(236, 224, 202);
}

/*CSS Générale*/
strong{
    color: var(--secondary-color);
}

a{
    text-decoration: none;
    color: var(--black-color);
}

/*Section Accueil*/
.accueil{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 340px;
    margin-top: 150px;
}

.accueil p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
    font-size: 1.2rem;
}


/*Bouton Accueil*/
.button{
    display: flex;
    flex-direction: row;
}

#linkedin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 130px;
    height: 37px;
    margin-right: 20px;
    border: none;
    background-color: var(--black-color);
    color: var(--bg-body);
    font-size: 1rem;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#linkedin svg {
    width: 20px;
    height: 20px;
    fill: var(--bg-body);
}


#github{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 130px;
    height: 37px;
    margin-right: 20px;
    border: none;
    background-color: var(--black-color);
    color: var(--bg-body);
    font-size: 1rem;
    border-radius: 15px;
    margin-top: 20px;
    cursor: pointer;
}

#github svg{
    width: 20px;
    height: 20px;
    fill: var(--bg-body);
}

/*Accueil Titre*/
.accueil h3{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
}

.accueil h4{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
    margin-bottom: 20px;
}

/*Section A Propos*/

.a-propos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    padding-bottom: 80px;
    background-color: var(--secondary-bg-body);
}

.a-propos h2{
    margin-top: 50px;
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black-color);
}

.intro{
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.intro img{
    margin-top: 100px;
    width: 450px;
    height: auto;
}

.portfolio-photos{
    display: flex;
    gap: 20px;
    flex-direction: column;

}

.portfolio-photos{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 465px;
}

.competences{
    padding: 10px;
    width: 400px;
    height: 100px;
    gap: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-direction: row;
    background-color: var(--black-color);
    color: var(--bg-body);
}

.competences img{
    width: 55px;
    height: auto;
    margin: 0;
}


.competences div{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    font-family: var(--main-font);
}
