/*Proporiété du header*/
header {
    width: 100%;
    height: 100px;
    background-color: #0B0C14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 85%;
    align-items: center;
}
/*Propriété text nav bar à droite*/
.nav-right{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.nav-right li {
    list-style-type: none;
}

.nav-bar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #c0d3dd;
    text-decoration: none;
    transition: 0.4s ease;
}
/*Changement de couleur du text nav bar au hover*/
.nav-bar a:hover{
    color: white;
}
