/*Media Queries 728px*/
@media (max-width:728px){
    /*Masquage de la bare de droite*/
    .nav-right{
        display: none;
    }
    /*Modification de la taille des polices Home*/
    .home h3, .home h4{
        font-size: 2.5rem;
    }
    .home p{
        font-size: 1rem;
        width: 100%;
        margin-left: 10px;
    }
    /*Passage des flex box en colone section projet*/
    .projet{
        display: flex;
        margin-left: 10%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    /*Augmentation des largeur élément projet*/
    .gauche{
        width: 100%;
    }
    .droit{
        width: 100%;
    }
    /*Changement de la largeur des bares de progression*/ 
    .progress-bar-container {
        width: 250%;
        height: 10px;
        background-color: #f3f3f3;
        border-radius: 3px;
        margin-top: 4px;
    }

    .progress-bar-container-css{
        width: 300%;
        height: 10px;
        background-color: #f3f3f3;
        border-radius: 3px;
        margin-top: 4px;
    }

    .progress-bar-python{
        height: 100%;
        width: 40%;
        border-radius: 3px; 
        background-color:#FFCC00;
    }
    .progress-bar-css{
        height: 100%;
        width: 70%;
        border-radius: 3px; 
        background-color:#1572B6;
    }
    .progress-bar-html{
        height: 100%;
        width: 80%;
        border-radius: 3px; 
        background-color:#E34F26;
    }
    /*Passage en colone de la section presentation*/
    .presentation{
        display: flex;
        flex-direction: column;
    }
    .presentation a{
        width: 100%;
    }
    /*Ajout de margin top à l'ID section 3*/
    #section-3{
        margin-top: 200px;
    }
    /*Form contact prends tout la largeur de la page*/
    .form-contact{
        width: 100%;
        padding: 0;
        height: 700px;
    }
    input[name="name"],input[name="objet"],input[type="email"], textarea[name="subject"], input[type=submit]{
        width: 80%;
        margin: 20px;
    }
}