/*Propriété CSS Page*/
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: #0B0C14;
}
h5{
    font-family: monospace;
    font-size: 2rem;
}

hr{
    width: 80%;
    margin: 0 auto;
    border: none;
    height: 1.15px;
    background-color: rgb(56, 58, 75);
}

strong {
    color: #6670E0;
    text-shadow: 0 0 5px rgba(102, 112, 224, 0.4); 
}
h2{
    margin-top: 80px;
    margin-left: 10%;
    text-align: start;
    font-family: 'Helvetica Now Display', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: bold;
    font-size: 2.6rem;
    color: #E7E7E9;
    margin-bottom: 50px;
    text-shadow: 0 0 5px rgba(14, 14, 14, 0.7); 
}

h5{
    font-size: 1.5rem;
    color: #98a3c0;
}
h6 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: #70778d;
}

/*Section Home haut de page*/
.home{
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: #E7E7E9;
    margin-bottom: 8px;
    text-shadow: 0 0 5px rgba(14, 14, 14, 0.7);
}

.home h4{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 4.5rem;
    color: #E7E7E9;
    margin-bottom: 25px;
    text-shadow: 0 0 5px rgba(14, 14, 14, 0.7); 
}

.home p{
    width: 55%;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    color: #98a3c0;
    line-height: 27px;
    margin: 0 auto;
}

/*Icon social Home*/
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    margin-bottom: 50px;
}

.social img{
    padding: 20px;
    width: 50px;
    height: auto;
}

/*Section Projet*/
.projet {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/*Section Gauche*/
.gauche {
    padding: 10px;
    width: 35%;
    height: 530px;
    background: #090a11;
    border-radius: 10px;
    border: 1px solid rgb(56, 58, 75);
    display: flex;
    flex-direction: column;
}

/*Section de Droite*/

.droit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: 400px;
}
.haut-droit{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 280px;
    background: #090a11;
    border-radius: 10px;
    border: 1px solid rgb(56, 58, 75);
}
.bas-droit{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 280px;
    background: #090a11;
    border-radius: 10px;
    border: 1px solid rgb(56, 58, 75);
}

.contenue p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: #70778d;
}
.logo-contenue {
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    transition: 0.2s ease;
}
.progress-bar-container {
    width: 400%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin-top: 4px;
}

.progress-bar-container-css{
    width: 480%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 3px;
    margin-top: 4px;
}

.progress-bar-python{
    height: 100%;
    width: 40%;
    border-radius: 3px; 
    background-color:#FFCC00;
}
.progress-bar-css{
    height: 100%;
    width: 70%;
    border-radius: 3px; 
    background-color:#1572B6;
}
.progress-bar-html{
    height: 100%;
    width: 80%;
    border-radius: 3px; 
    background-color:#E34F26;
}

/*Section Présentation*/
.presentation{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.presentation a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 25%;
    height: 450px;
    padding: 15px;
    border-radius: 20px;
    background-color: #090a11;
    border: 1px solid rgb(56, 58, 75);
    transition: 0.2s ease;
}

.presentation img{
    width: 100%;
    height: auto;
}
.presentation p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
    color: #70778d;
}
.presentation h5{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.5rem;
    color: #98a3c0;
}

/*Formulaire de contact*/
.form-contact{
    width: 60%;
    padding: 20px;
    height: 470px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #090a11;
    border: 1px solid rgb(56, 58, 75);
}

input[name="name"]{
    margin-bottom: 20px;
    width: 100%;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #121421;
    border: 1px solid rgb(56, 58, 75);
    color: #98a3c0;
    font-size: 1.2rem; 
}

input[name="objet"]{
    margin-bottom: 20px;
    width: 49.5%;
    padding: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #121421;
    border: 1px solid rgb(56, 58, 75);
    color: #98a3c0;
    font-size: 1.2rem;
}

input[type="email"]{
    margin-bottom: 20px;
    width: 49.5%;
    padding: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #121421;
    border: 1px solid rgb(56, 58, 75);
    color: #98a3c0;
    font-size: 1.2rem;
}

textarea[name="subject"]{
    margin-bottom: 20px;
    width: 100%;
    padding: 25px;
    height: 220px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #121421;
    border: 1px solid rgb(56, 58, 75);
    color: #98a3c0;
    font-size: 1.2rem;
}

input[type=submit]{
    width: 100%;
    padding: 10px 35px;
    border-radius: 15px;
    display: inline-block;
    background-color: #6670E0;
    color: white;
    font-size: 1.4rem; 
    cursor: pointer;
    border: none;
    transition: 200ms ease;
}

/*Hover tous les éléments*/

input[type=submit]:hover{
    background-color:white;
    color: #6670E0;
}

input::placeholder, textarea::placeholder {
    color: #98a3c0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem; 
}
input:focus, textarea:focus {
    border: 2px solid #6670E0;
    outline: none;
}

.logo-contenue:hover, .logo-droit:hover, .presentation a:hover{
    background-color: #121421;
}